/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[StudentCode]
      ,[MatricNo]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[LevelCode]
      ,[TypeCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[SubCourseCode]
      ,[Status]
      ,[Signed]
      ,[SignedOn]
      ,[SignedBy]
      ,[SelfSigned]
      ,[SelfSignedOn]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,[TicketCode]
      ,[PinCode]
  FROM [UniversityDB].[Academics].[Registrations]