/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[CurrentYear]
      ,[NextYear]
      ,[SessionStatus]
      ,[StartDate]
      ,[EndDate]
      ,[Applicable]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,[SessionDescription]
      ,[SessionStatusDescription]
  FROM [UniversityDB].[Academics].[Sessions]