/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[LevelCode]
      ,[StudentCode]
      ,[MatricNo]
      ,[SessionCode]
      ,[SemesterCode]
      ,[Submitted]
      ,[ScreenCode]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,[Accepted]
      ,[AcceptedOn]
      ,[AcceptedBy]
  FROM [UniversityDB].[Academics].[Submissions]