/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[SemesterCode]
      ,[StatusCode]
      ,[LevelCode]
      ,[Practical]
      ,[Laboratory]
      ,[Credit]
      ,[Title]
      ,[PrefixCode]
      ,[SubNo]
      ,[SubCode]
      ,[Notes]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,[StatusDescription]
  FROM [UniversityDB].[SetUp].[SubCourses]