/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[AccountCode]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[StaffType]
      ,[ContractType]
      ,[ComDate]
      ,[CessDate]
      ,[StatusCode]
      ,[StatusReason]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[SetUp].[Staff]