/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[LevelCode]
      ,[AccountCode]
      ,[EntityCode]
      ,[Locked]
      ,[LockedOn]
      ,[LockedBy]
      ,[UnlockedOn]
      ,[UnlockedBy]
      ,[LastLockedOn]
      ,[LastLockedBy]
  FROM [UniversityDB].[SetUp].[Lockings]