/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[SemesterCode]
      ,[LevelCode]
      ,[SubCode]
      ,[ModeOfStudy]
      ,[StaffCode]
      ,[DateX]
      ,[StartTime]
      ,[StopTime]
      ,[ScheduleType]
      ,[Notes]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[SetUp].[Schedules]