/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[SessionCode]
      ,[ModuleCode]
      ,[ScreenCode]
      ,[SemesterCode]
      ,[LevelCode]
      ,[RoleCode]
      ,[AccountCode]
      ,[EntityCode]
      ,[ApprovalType]
      ,[Order]
      ,[Approved]
      ,[ApprovedOn]
      ,[ApprovedBy]
      ,[ApprovedNotes]
      ,[Requested]
      ,[RequestedOn]
      ,[RequestedBy]
      ,[RequestedNotes]
      ,[Rejected]
      ,[RejectedOn]
      ,[RejectedBy]
      ,[RejectedNotes]
  FROM [UniversityDB].[SetUp].[Approvals]