/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[Description]
      ,[UniversityTypeCode]
      ,[BannerCode]
      ,[LogoCode]
      ,[Url]
      ,[CountryCode]
      ,[StateCode]
      ,[LgaCode]
      ,[Motto]
      ,[Notes]
      ,[EstablishedYear]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[SetUp].[Universities]