/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[Description]
      ,[FeeStatusCode]
      ,[UniversityCode]
  FROM [UniversityDB].[Finance].[FeeDefinition]