/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[InvoiceCode]
      ,[ItemDescription]
      ,[Quantity]
      ,[Unit]
      ,[UnitCost]
      ,[DiscountPercentage]
      ,[DiscountAmount]
      ,[TaxType]
      ,[TaxValue]
      ,[TotalCost]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Finance].[TransactionsDetail]