/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[AccountGroupCode]
      ,[AccountSubCode]
      ,[AccountTypeCode]
      ,[AccountCode]
      ,[VoucherTypeCode]
      ,[TransactionTypeCode]
      ,[EntityTypeCode]
      ,[ParticularsCode]
      ,[DateX]
      ,[DebitAmount]
      ,[CreditAmount]
      ,[Narration]
      ,[Approved]
      ,[ApproveBy]
      ,[ApproveOn]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,[Notes]
  FROM [UniversityDB].[Finance].[Vouchers]