/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[MatricNo]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[LevelCode]
      ,[FeesCode]
      ,[FeeDefinitionCode]
      ,[FeeAllotmentCode]
      ,[Amount]
      ,[ExtraDiscount]
      ,[FinalAmount]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Finance].[FeesDetail]