/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[NoOfPaymentAllowed]
      ,[DateX]
      ,[StatusCode]
      ,[Applicable]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Finance].[PaymentPlans]