/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[PaymentPlanCode]
      ,[Description]
      ,[Amount]
      ,[DiscountedAmount]
      ,[DiscountedPercentage]
      ,[Total]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Finance].[PaymentPlanDetails]