/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[LevelCode]
      ,[FeeDefinitionCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[EntryMode]
      ,[StudyMode]
      ,[Amount]
      ,[DiscountPercentage]
      ,[DiscountedAmount]
      ,[Approved]
      ,[ApproveBy]
      ,[ApproveOn]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,[Notes]
  FROM [UniversityDB].[Finance].[FeeAllotment]