/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[TransactionActivityCode]
      ,[InvoiceTypeCode]
      ,[LpoNo]
      ,[PoNo]
      ,[CategoryCode]
      ,[Amount]
      ,[AmountPaid]
      ,[Balance]
      ,[Total]
      ,[CompanyCode]
      ,[PaymentStatus]
      ,[DateX]
      ,[AmountInWords]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Finance].[Transactions]