/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[Description]
      ,[AccountTypeCode]
      ,[AccountSubCode]
  FROM [UniversityDB].[Finance].[Accounts]