/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[AccountSubCode]
      ,[DescriptionCode]
      ,[Description]
      ,[UniversityCode]
  FROM [UniversityDB].[Finance].[AccountTypes]