/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[MatricNo]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[LevelCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[AccountTitle]
      ,[AccountNo]
      ,[BankCode]
      ,[BankBranch]
      ,[PaymentMode]
      ,[DateX]
      ,[Amount]
      ,[Balance]
      ,[PaymentStatus]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Finance].[Fees]