/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[MatricNo]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[LevelCode]
      ,[FeesCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[Amount]
      ,[Refunded]
      ,[RefundedOn]
      ,[RefundedBy]
      ,[Approved]
      ,[ApproveBy]
      ,[ApproveOn]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Finance].[Refunds]