/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[AccountCode]
      ,[PhoneTypeCode]
      ,[ScreenCode]
      ,[PostalCode]
      ,[PhoneNumber]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Personals].[Phones]