/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[AccountCode]
      ,[BioDataCode]
      ,[ReligionCode]
      ,[Clergy]
      ,[PlaceOfWorship]
      ,[PlaceOfWorshipAddress]
      ,[ClergyPhoneNumber]
      ,[ClergyEmail]
      ,[PlaceOfWorshipPhoneNumber]
      ,[PlaceOfWorshipEmail]
      ,[ScreenCode]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Personals].[Religions]