/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[LanguageCode]
      ,[AccountCode]
      ,[DateX]
      ,[ScreenCode]
      ,[ReadingDegree]
      ,[SpeakingDegree]
      ,[WritingDegree]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Personals].[LanguageSkills]