/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[AccountCode]
      ,[ScreenCode]
      ,[TitleCode]
      ,[JobCategoryCode]
      ,[JobDescCode]
      ,[LevelOfXpertiseCode]
      ,[WorkPercentageCode]
      ,[FromYearCode]
      ,[ToYearCode]
      ,[FromMonthCode]
      ,[ToMonthCode]
      ,[FromSAS]
      ,[FromSASCurrencyCode]
      ,[FromSASTotals]
      ,[FromEAS]
      ,[FromEASCurrencyCode]
      ,[FromEASTotals]
      ,[Supervisor]
      ,[SupervisorTitle]
      ,[Employer]
      ,[EmployerAddress]
      ,[EmployerBusinessNatureCode]
      ,[EmployerURL]
      ,[DutiesDescription]
      ,[KeyAchievements]
      ,[ContactRefrenceCode]
      ,[NoOfPeopleSupervised]
      ,[ReasonForLeaving]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Personals].[EmploymentHistories]