/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[AccountCode]
      ,[ScreenCode]
      ,[EducationTypeCode]
      ,[QualificationTypeCode]
      ,[FromYear]
      ,[ToYear]
      ,[FromMonth]
      ,[ToMonth]
      ,[AwardingBody]
      ,[Certificate]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Personals].[Qualifications]