/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[SubjectCode]
      ,[AccountCode]
      ,[ScreenCode]
      ,[GradeCode]
      ,[GradeDescCode]
      ,[ExamTypeCode]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Personals].[OLevels]