/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[Surname]
      ,[MiddleName]
      ,[FirstName]
      ,[GenderCode]
      ,[CivilStatus]
      ,[DateOfBirth]
      ,[CountryCode]
      ,[StateCode]
      ,[LGACode]
      ,[PlaceOfBirth]
      ,[Height]
      ,[Weight]
      ,[HealthStatusCode]
      ,[ScreenCode]
      ,[PositionInFamily]
      ,[NoOfChildren]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,[TicketCode]
      ,[PinCode]
  FROM [UniversityDB].[Personals].[BioDatas]