/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ApplicationId]
      ,[UserId]
      ,[Password]
      ,[PasswordFormat]
      ,[PasswordSalt]
      ,[MobilePIN]
      ,[Email]
      ,[LoweredEmail]
      ,[PasswordQuestion]
      ,[PasswordAnswer]
      ,[IsApproved]
      ,[IsLockedOut]
      ,[CreateDate]
      ,[LastLoginDate]
      ,[LastPasswordChangedDate]
      ,[LastLockoutDate]
      ,[FailedPasswordAttemptCount]
      ,[FailedPasswordAttemptWindowStart]
      ,[FailedPasswordAnswerAttemptCount]
      ,[FailedPasswordAnswerAttemptWindowStart]
      ,[Comment]
  FROM [UniversityDB].[dbo].[aspnet_Membership]