/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[ScreenCode]
      ,[SessionCode]
      ,[SemesterCode]
      ,[PinCode]
      ,[DateX]
      ,[StatusCode]
      ,[NoOfUse]
      ,[MaxNoUse]
      ,[ExpiryDate]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Registry].[Tickets]