/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[TypeCode]
      ,[AccountCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[AwardCode]
      ,[EntryMode]
      ,[StudyMode]
      ,[LevelCode]
      ,[DateApplied]
      ,[SessionCode]
      ,[Notes]
      ,[NoOfSitting]
      ,[NoOfCredits]
      ,[NoOfPasses]
      ,[NoOfDistinctions]
      ,[NoOfFails]
      ,[Total]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Registry].[Exams]