/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[ProgramCode]
      ,[CourseCode]
      ,[LevelCode]
      ,[MatricNo]
      ,[AccountCode]
      ,[EntryMode]
      ,[StudyMode]
      ,[SessionCode]
      ,[AdmittedOn]
      ,[AwardCode]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Registry].[Students]