USE [UniversityDB]
GO
/****** Object:  StoredProcedure [SetUp].[SPAreasOfSpecializationsInsertUpdate]    Script Date: 08/14/2011 14:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Author			:	Ademola Adebo
--Reviewer			:	Godwin Mathias	
--Date Created		:	07/08/2011 
--Last Updated		:	07/08/2011 
--Last Updated By	:	Ademola Adebo
--Description		:	Stored procedure for saving values into SetUp.AreasOfSpecializations Table

ALTER PROC [SetUp].[SPAreasOfSpecializationsInsertUpdate]
(
	@Code INT=NULL,
	@DescriptionsCode NVARCHAR(50)=NULL,
	@Specialization NVARCHAR(256)=NULL
	
)
AS
BEGIN TRY
BEGIN TRAN
SET NOCOUNT ON;

		IF NOT EXISTS (SELECT * FROM [SetUp].[AreasOfSpecializations]  WHERE ([Code] = @Code) )  
			BEGIN
				INSERT INTO [SetUp].[AreasOfSpecializations] 
				(
					[Code],
					[DescriptionsCode],
					[Specialization]
				)
				VALUES
				(
					@Code,
					@DescriptionsCode,
					@Specialization
				)
			END
		ELSE
			BEGIN
				UPDATE [SetUp].[AreasOfSpecializations] 
				SET
					[DescriptionsCode]=@DescriptionsCode,
					[Specialization]=@Specialization
				WHERE
					([Code] = @Code)
			END
COMMIT TRAN
END TRY

BEGIN CATCH
ROLLBACK TRAN

DECLARE @ErrorNumber_INT INT;
DECLARE @ErrorSeverity_INT INT;
DECLARE @ErrorProcedure_VC VARCHAR(200);
DECLARE @ErrorLine_INT INT;
DECLARE @ErrorMessage_NVC NVARCHAR(4000);

SELECT
		@ErrorMessage_NVC = ERROR_MESSAGE(),
		@ErrorSeverity_INT = ERROR_SEVERITY(),
		@ErrorNumber_INT = ERROR_NUMBER(),
		@ErrorProcedure_VC = ERROR_PROCEDURE(),
		@ErrorLine_INT = ERROR_LINE()

RAISERROR(@ErrorMessage_NVC,@ErrorSeverity_INT,1);

END CATCH

GRANT EXECUTE ON [SetUp].[SPAreasOfSpecializationsInsertUpdate] TO PUBLIC