/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Code]
      ,[UniversityCode]
      ,[FacultyCode]
      ,[DepartmentCode]
      ,[CourseCode]
      ,[ProgramCode]
      ,[LevelCode]
      ,[StudentCode]
      ,[MatricNo]
      ,[SessionCode]
      ,[SemesterCode]
      ,[AttendanceStatus]
      ,[StaffCode]
      ,[SubCourseCode]
      ,[AttendanceType]
      ,[Remark]
      ,[ScreenCode]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[Deleted]
      ,[DeletedOn]
      ,[DeletedBy]
  FROM [UniversityDB].[Assessment].[Attendance]